<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Blog</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include("partials/nav", { isAuthenticated }) %>
    <div class="container px-5 py-5 my-5">
      <form method="post">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" />
        </div>
        <input type="text" class="d-none" name="referer" value="<%= referer %>" />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <%- include("partials/footer") %>
    <script>
      document.querySelector("#btn-back", () => {
        history.back();
      });
      document.querySelector("#image").onchange = () => {
        document.querySelector("#img").src = URL.createObjectURL(
          document.querySelector("#image").files[0],
        );
      };
    </script>
  </body>
</html>
